modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BF0u9lovvOgfLgoM9Elz5B_REXE3g9mJKlFzJnoDk0XTo4_xJfGBmL8TB_UWUSP5PJRwhDucXR2fQcxe50gn1kQ"
VAPID_PRIVATE_KEY = "CcjPiwXAkyqc06pPKW0fRpjcnGrSu8ebYImc6f5pGpY"
VAPID_EMAIL = "mailto:sigma@bac.dz"
